.counter {
  border-radius: 10px;
  background-color: #61dafb;
}

.desktop__card__actions {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 600px;
  border-radius: 10px;
}

.card_items {
  flex-direction: column;
  justify-content: space-between;
}
.img {
  margin-right: 25px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.icon {
  color: #61dafb;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
