.body {
  font-family: Neucha-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  margin: 50px 0;
}
.bottom_container {
  padding: 20px;
}
.bottom_bt {
  display: flex;
  justify-content: space-between;
}
.number {
  display: flex;
  text-align: right;
}
.sum,
.bonus {
  display: flex;
  justify-content: space-between;
}
