.body div {
  font-family: Neucha-Regular;
}

.body {
  -webkit-box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  -moz-box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  padding: 10px;
  border-radius: 33px;
  margin: 0 auto 50px auto;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px dashed #61dafb;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
}
.title {
  font-weight: 1000;
  margin-bottom: 20px;
}
.label {
  text-align: left;
  margin-left: 15px;
}

.email,
.ph__number,
.login {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.pswd {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  right: 15px;
  font-size: 25px;
}

.error__icon {
  color: #e80000;
}
.success__icon {
  color: #00d231;
}
.logwith {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.logicon {
  font-size: 30px;
}
.gl {
  margin-right: 10px;
}
.fb {
  margin-right: 10px;
}
